<!-- Main Sidebar Container -->
<aside th:fragment="sidebar"
       class="main-sidebar sidebar-dark-primary elevation-4" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/LTE/dist/img/user2-160x160.jpg}"
                     class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a th:href="@{/home}" class="d-block"
                   th:text="${#request.userPrincipal.principal.fullname != null} ? ${#request.userPrincipal.principal.fullname} : 'NOT FOUND'"></a>
            </div>
        </div>
        <nav class="mt-2">
            <ul
                    class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent"
                    data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item"><a th:href="@{/categories}"
                                        class="nav-link" data-link-index="2"> <i
                        class="nav-icon fas fa-tag"></i>
                    <p>Categories</p>
                </a></li>
                <li class="nav-item"><a th:href="@{/products}" class="nav-link"
                                        data-link-index="3"> <i class="nav-icon fas fa-lemon"></i>
                    <p>Products</p>
                </a></li>
                <li class="nav-item"><a th:href="@{/order}" class="nav-link"
                                        data-link-index="4"> <i class="nav-icon fas fa-address-book"></i>
                    <p>Orders</p>
                </a></li>
                <li class="nav-item"><a th:href="@{/banks}" class="nav-link"
                                        data-link-index="6"> <i class="nav-icon fas fa-piggy-bank"></i>
                    <p>Banks</p>
                </a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/account-banks}"
                                        data-link-index="6"> <i class="nav-icon fas fa-piggy-bank"></i>
                    <p>AccountBank</p>
                </a></li>
                <li class="nav-item"><a th:href="@{/directBanks}" class="nav-link"
                                        data-link-index="5"> <i class="nav-icon fas fa-home"></i>
                    <p>Direct Bank</p>
                </a></li>
                <li class="nav-item"><a th:href="@{/interBanks}" class="nav-link"
                                        data-link-index="5"> <i class="nav-icon fas fa-home"></i>
                    <p>Intermediary Bank</p>
                </a></li>
                <li class="nav-item"><a th:href="@{/errorcodelist}" class="nav-link"
                                        data-link-index="5"> <i class="nav-icon fas fa-home"></i>
                    <p>Error Code List</p>
                </a></li>
                <li class="nav-item">
                    <a href="/service/" class="nav-link">
                        <i class="nav-icon fas fa-home"></i><p>Danh mục dịch vụ</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/bankSenderConfig" class="nav-link">
                        <i class="nav-icon fas fa-home"></i><p>Cấu hình NH gửi</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
